<?xml version="1.0"?>
<launch>
  <arg name="darel_kinematics" default="$(find ur_description)/config/ur3e/default_kinematics.yaml"/>
  <param name="robot_description" command="$(find xacro)/xacro '$(find uma_ur_launch)/urdf/single_robot.xacro'
   darel_kinematics:=$(arg darel_kinematics)
  "/>
</launch>
