<?xml version="1.0"?>
<launch>
  <arg name="auto_kinematics" default="$(find ur_description)/config/ur3/default_kinematics.yaml"/>
  <arg name="teleop_kinematics" default="$(find ur_description)/config/ur3/default_kinematics.yaml"/>
  <param name="robot_description" command="$(find xacro)/xacro '$(find uma_ur_launch)/urdf/dual_robot.xacro'
   auto_kinematics:=$(arg auto_kinematics)
   teleop_kinematics:=$(arg teleop_kinematics)
  "/>
</launch>
