<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="my_work_cell">
  <!--Load the macro for creating a robot-->
  <xacro:include filename="$(find ur_description)/urdf/inc/ur3_macro.xacro"/>
  <xacro:include filename="$(find ur_description)/urdf/inc/ur3e_macro.xacro"/>

  <!--Instanciate the robots-->
  <xacro:ur3_robot prefix="auto_" kinematics_parameters_file="$(arg auto_kinematics)"/>
  <xacro:ur3e_robot prefix="darel_" kinematics_parameters_file="$(arg darel_kinematics)" />

  <!--common link where the tf tree originates from-->
  <link name="world"/>

  <!--Define the robot poses in the world-->
  <joint name="world_to_darel" type="fixed">
    <parent link="world" />
    <child link = "darel_base_link" />
    <origin xyz="0.1171 -0.4409 0.0522" rpy="0 0 1.57" />
  </joint>
  <joint name="world_to_auto" type="fixed">
    <parent link="world" />
    <child link = "auto_base_link" />
    <origin xyz="0.1869 0.3344 0.1322" rpy="0 0 -2.4116" />
  </joint>
</robot>
